// Polices
@font-face {
    font-family: 'Commissioner-Regular';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    src: url(assets/fonts/commissioner-latin-400-normal.woff2) format('woff2'); 
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}
@font-face {
    font-family: 'Commissioner-Bold';
    font-style: normal;
    font-weight: 700;
    font-stretch: 100%;
    src: url(assets/fonts/commissioner-latin-700-normal.woff2) format('woff2'); 
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

// VARIABLES
// Animations
// $responseAnimation: fadeIn 0.3s ease-in-out forwards 0.1s;
$titleAnimationIn: fadeSlideIn 0.5s ease-in-out forwards 0s;
$descAnimationIn: fadeSlideIn 0.5s ease-in-out forwards 0.1s;
$inputAnimationIn: fadeSlideIn 0.5s ease-in-out forwards 0.2s;
$animationOut: fadeSlideOut 0.3s ease-in-out forwards;
$shortcutAnimation: shortcutSearch 0.2s ease-in-out forwards 0s;

// Taille de l'entête
$headerHeightWatch: 10px;
$headerHeight: 50px;

// Fonds
$headerBackgroundLight: rgba(255, 255, 230, 0.5);
$headerBackgroundDark: rgba(0, 0, 0, 0.8);
$containerBackgroundLight: rgba(0, 0, 0, 0.3);
$containerBackgroundDark: rgba(0, 0, 0, 0.5);
$backgroundLight: top / cover no-repeat url('assets/medias/background-light.webp');
$backgroundDark: top / cover no-repeat url('assets/medias/background-dark.webp');

// Couleurs de police
$textColor1: rgb(255, 255, 230);
$textColor2: rgb(255, 255, 255);
$textPlaceholder: rgba(255, 255, 230, 0.6);
$active: rgb(255, 255, 200);
$textShadow: 0px 2px 16px #000000, 0px 2px 16px #000000, 0px 2px 16px #000000;
$invalidInput: rgba(255, 168, 168);
$invalidPlaceholder: rgba(255, 229, 229, 0.8);

// Fonctions
@keyframes shortcutSearch {
    from {
        width: 0;
        padding: 0 10px;
        border: solid 2px $textColor2;
    }
    to {
        width: 100%;
        padding: 0 10px;
        border: solid 2px $textColor2;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeSlideIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeSlideOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(30px);
    }
}
@mixin font700 {
    font: 100% 'Commissioner-Bold', sans-serif;
}
@mixin font400 {
    font: 100% 'Commissioner-Regular', sans-serif;
}

// Corps de la page
:root {
font-size: 100%;
}

body {
    margin: 0;
    min-height: 100vh;
    header {
        position: fixed;
        z-index: 1;
        width: 100vw;
        display: flex;
        align-items: center;
        height: $headerHeight;
        background: $headerBackgroundLight;
        color: $textColor1;
        justify-content: space-between;
        padding: 0 0.9375rem;
        box-sizing: border-box;
        #icons {
            display: flex;
            #s-shortcut {
                @include font400;
                width: 0;
                padding: 0;
                font-size: 90%;
                height: 100%;
                border-radius: 25px;
                border: none;
                box-sizing: border-box;
                background: none;
                color: $textColor2;

                &::placeholder {
                    color: $textPlaceholder;
                }
                &.active {
                    animation: $shortcutAnimation;
                    &:focus-visible {
                        border: solid 2px $active;
                        outline: none;
                    }
                }
            }
            #home-button {
                margin-right: 10px;
            }
        }
        #menu {
            display: flex;
            align-items: center;
            svg {
                margin-left: 0.625rem;
                &.theme-b {
                    transform: rotate(180deg);
                }
            }
            a {
                margin: 0;
                @include font400;
                display: flex;
                align-items: center;
                text-decoration: none;
                color: $textColor2;
                &:hover {
                    text-decoration: underline;
                    filter: sepia(100%) saturate(200%);
                }
            }
        }
        svg {
            display: block;
            &:hover {
                filter: sepia(100%) saturate(200%);
            }
        }
    }
    #container {
        min-height: 100vh;
        padding-top: $headerHeight;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        animation: fadeIn ease 0.5s;
        justify-content: center;
        align-items: center;
    }
    // App
    #app {
        display: grid;
        grid: auto 5fr auto / auto;
        padding-bottom: 6.25rem;
        text-align: center;
        &.submitted {
            display: flex;
            flex-direction: column;
            padding: 0;
        }
        h1 {
            @include font700;
            font-size: 4.5rem;
            opacity: 0;
            color: $textColor1;
            margin: 0;
            animation: $titleAnimationIn;
        }
        #desc {
            @include font400;
            font-size: 2rem;
            opacity: 0;
            margin: 3% 0 10% 0;
            font-weight: 400;
            color: $textColor2;
            animation: $descAnimationIn;
        }
        form {
            display: flex;
            flex-direction: column;
            input {
                @include font400;
                font-size: 1.5rem;
                color: $textColor2;
                margin: 0 15%;
                padding: 15px 25px;
                box-sizing: border-box;
                background: none;
                border: solid 3px $textColor1;
                border-radius: 15px;
                opacity: 0;
                animation: $inputAnimationIn;
                &:focus-visible {
                    border: solid 3px $active;
                    outline: none;
                }
                &::placeholder {
                    color: $textPlaceholder;
                }
                &.invalid:invalid::placeholder {
                    color: $invalidPlaceholder;
                }
                &.invalid:invalid {
                    border: solid 3px $invalidInput;
                }
            }
            label {
                display: none;
                @include font400;
                font-size: 1.25rem;
                color: $invalidInput;
                margin: 0.625rem 15% 0 15%;
                text-align: left;
                text-shadow: $textShadow;
                &.invalid {
                    display: block;
                }
            }
        }
        #response {
            background: rgb(0, 0, 0, 0.5);
            &.active {
                padding: 0 2rem 0 2rem;
            }
            div {
                h3, h2 {
                    color: $textColor1;
                    @include font700;
                    font-size: 1.5rem;
                    margin-top: 2.5rem;
                    text-transform: uppercase;
                    text-shadow: $textShadow;
                }
                p {
                    color: $textColor1;
                    @include font400;
                    font-size: 1rem;
                    text-shadow: $textShadow;
                    &:last-child {
                        margin-bottom: 2rem;
                    }
                }
            }
        }
    }
}
body #app h1.submitted, body #app #desc.submitted, body #app form.submitted {
    animation: $animationOut;
}
.invisible, body #app form.invisible {
    display: none;
}

// @media screen and (max-width: 1300px), screen and (max-height: 731px){
//     body {
//         #app {
//             grid: auto auto auto / 46.25rem;
//             h1 {
//                 font-size: 3.25rem;
//             }
//             #desc {
//                 font-size: 1.75rem;
//                 margin: 1.5625rem 0 6.25rem 0;
//                 align-self: center;
//             }
//             form {
//                 input {
//                     font-size: 1.125rem;
//                     margin: 0 30px;
//                 }
//                 label {
//                     font-size: 1.125rem;
//                     margin: 0.625rem 1.875rem;
//                 }
//             }
//         }
//     }
// }
@media screen and (max-width: 1000px), screen and (max-height: 620px) {
    body {
        header {
            p {
                font-size: 0.8125rem;
            }
        }
        #app {
            // grid: auto auto / 90vw;
            display: flex;
            flex-direction: column;
            padding: 0;
            h1 {
                font-size: 2.3125rem;
            }
            #desc {
                font-size: 1.375rem;
                margin: 1.5625rem 0 3.125rem 0;
                align-self: center;
            }
            form {
                justify-content: center;
                input {
                    font-size: 1.125rem;
                    margin: 0;
                    max-width: 590px;
                    
                }
                label {
                    font-size: 1.125rem;
                    margin: 0.625rem 0;
                }
            }
        }
    }
}
@media screen and (max-width: 410px) {
    body {
        header {
            a {
                font-size: 0.8125rem;
            }
            #menu {
                a {
                    font-size: 9px;
                    &.active {
                        display: none;
                    }
                }
            }
        }
        #app {
            display: flex;
            h1 {
                font-size: 2.375rem;
            }
            #desc {
                font-size: 1.125rem;
                margin: 25px 0 30px 0;
                align-self: center;
            }
            form {
                input {
                    font-size: 1.125rem;
                    margin: 0;
                }
                label {
                    font-size: 1.125rem;
                    margin: 0.625rem 0;
                }
            }
        }
    }
}
@media (prefers-color-scheme: dark) {
    body.theme { background: $backgroundDark }
    header.theme { background-color: $headerBackgroundDark}
    #container.theme { background: $containerBackgroundDark }
    body.theme-b { background: $backgroundLight }
    header.theme-b { background: $headerBackgroundLight }
    #container.theme-b { background: $containerBackgroundLight }
}
@media (prefers-color-scheme: light) {
    body.theme { background: $backgroundLight }
    header.theme { background: $headerBackgroundLight}
    #container.theme { background: $containerBackgroundLight }
    body.theme-b { background: $backgroundDark }
    header.theme-b { background: $headerBackgroundDark}
    #container.theme-b { background: $containerBackgroundDark }
}