/*!*****************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[3].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[3].use[2]!./src/style.scss ***!
  \*****************************************************************************************************************************************************************/
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeSlideOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(50px);
  }
}
@keyframes timedFade {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
:root {
  font-size: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
  background: left/cover no-repeat url(assets/background-bright.webp);
}
body.dark {
  background-image: url(assets/background-dark.webp);
}
body header {
  position: fixed;
  z-index: 1;
  width: 100vw;
  display: flex;
  align-items: center;
  height: 50px;
  background: rgba(0, 0, 0, 0.8);
  color: rgb(255, 255, 230);
  justify-content: space-between;
  padding: 0 0.9375rem;
  box-sizing: border-box;
}
body header #menu {
  display: flex;
  align-items: center;
}
body header #menu svg {
  margin-left: 0.625rem;
}
body header svg {
  display: block;
}
body header a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(255, 255, 230);
}
body header a p {
  padding-left: 0.625rem;
  opacity: 0;
}
body header a p.timed {
  animation: timedFade 1s ease-in-out forwards 0.4s;
}
body header p {
  margin: 0;
  font: 400 100% "Commissioner", sans-serif;
}
body #container {
  min-height: 100vh;
  padding-top: 50px;
  box-sizing: border-box;
  display: flex;
  flex-grow: auto;
  flex-direction: column;
  animation: fadeIn ease 0.5s;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
}
body #container.dark {
  background-color: rgba(0, 0, 0, 0.5);
}
body #app {
  display: grid;
  grid: auto 5fr auto/auto;
  padding-bottom: 6.25rem;
  text-align: center;
}
body #app.submitted {
  display: flex;
  flex-direction: column;
  padding: 0;
}
body #app h1 {
  font: 700 100% "Commissioner", sans-serif;
  font-size: 4.5rem;
  opacity: 0;
  color: rgb(255, 255, 230);
  margin: 0;
  animation: fadeSlideIn 1s ease-in-out forwards 0.4s;
}
body #app #desc {
  font: 400 100% "Commissioner", sans-serif;
  font-size: 2rem;
  opacity: 0;
  margin: 3% 0 10% 0;
  font-weight: 400;
  color: rgb(255, 255, 255);
  animation: fadeSlideIn 1s ease-in-out forwards 0.6s;
}
body #app form {
  display: grid;
}
body #app form input {
  font: 400 100% "Commissioner", sans-serif;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  margin: 0 15%;
  padding: 15px 25px;
  background: none;
  border: solid 3px rgb(255, 255, 230);
  border-radius: 15px;
  opacity: 0;
  animation: fadeSlideIn 1s ease-in-out forwards 0.8s;
}
body #app form input:focus-visible {
  border: solid 3px rgb(255, 255, 200);
  outline: none;
}
body #app form ::placeholder {
  color: rgba(255, 255, 230, 0.6);
}
body #app #response div h3, body #app #response div h2 {
  color: rgb(255, 255, 230);
  font: 700 100% "Commissioner", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
}
body #app #response div p {
  color: rgb(255, 255, 230);
  font: 400 100% "Commissioner", sans-serif;
  font-size: 1rem;
  list-style: none;
}

body #app h1.submitted, body #app #desc.submitted, body #app form.submitted {
  animation: fadeSlideOut 1s ease-in-out forwards;
}

.invisible, body #app form.invisible {
  display: none;
}

@media screen and (max-width: 1300px), screen and (max-height: 731px) {
  body #app {
    grid: auto auto auto/46.25rem;
  }
  body #app h1 {
    font-size: 3.25rem;
  }
  body #app #desc {
    font-size: 1.75rem;
    margin: 1.5625rem 0 6.25rem 0;
    align-self: center;
  }
  body #app form input {
    font-size: 1.125rem;
    margin: 0 30px;
  }
}
@media screen and (max-width: 900px), screen and (max-height: 506px) {
  body header p {
    font-size: 0.8125rem;
  }
  body #app {
    grid: auto/60vw;
    padding: 0;
  }
  body #app h1 {
    font-size: 2.3125rem;
  }
  body #app #desc {
    font-size: 1.375rem;
    margin: 1.5625rem 0 3.125rem 0;
    align-self: center;
  }
  body #app form input {
    font-size: 1.125rem;
    margin: 0;
  }
}
@media screen and (max-width: 486px) {
  body header p {
    font-size: 9px;
  }
  body #app {
    grid: auto auto auto/80vw;
  }
  body #app h1 {
    font-size: 2.375rem;
  }
  body #app #desc {
    font-size: 1.125rem;
    margin: 25px 0 30px 0;
    align-self: center;
  }
  body #app form input {
    font-size: 1.125rem;
    margin: 0;
  }
}
