/*!*****************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[3].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[3].use[2]!./src/style.scss ***!
  \*****************************************************************************************************************************************************************/
@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateY(-3.125rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
:root {
  font-size: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
  background: left/cover no-repeat url(2d593c23918537990947.webp);
}

header {
  display: flex;
  align-items: center;
  height: 50px;
  background: rgba(0, 0, 0, 0.8);
  color: rgb(255, 255, 230);
}
header p {
  margin: 0;
}

#page-home #container {
  min-height: calc(100vh - 50px);
  display: flex;
  flex-grow: auto;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.5);
  animation: fadeInAnimation ease 0.5s;
  justify-content: center;
  align-items: center;
}
#page-home #app {
  display: grid;
  grid: auto 5fr 2fr/auto;
  padding-bottom: 6.25rem;
  text-align: center;
}
#page-home #app h1 {
  font: 700 100% "Commissioner", sans-serif;
  font-size: 4.5rem;
  opacity: 0;
  color: rgb(255, 255, 230);
  margin: 0;
  animation: fadeSlideIn 1s ease-in-out forwards 0.4s;
}
#page-home #app p {
  font: 400 100% "Commissioner", sans-serif;
  font-size: 2rem;
  opacity: 0;
  margin: 3% 0 10% 0;
  font-weight: 400;
  color: rgb(255, 255, 255);
  animation: fadeSlideIn 1s ease-in-out forwards 0.6s;
}
#page-home #app form {
  display: grid;
}
#page-home #app form input {
  font: 400 100% "Commissioner", sans-serif;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  margin: 0 15%;
  padding: 0 3%;
  background: none;
  border: solid 2px rgb(255, 255, 230);
  border-radius: 15px;
  opacity: 0;
  animation: fadeSlideIn 1s ease-in-out forwards 0.8s;
}
#page-home #app form input:focus-visible {
  border: solid 2px rgb(255, 255, 200);
  outline: none;
}

#page-definition #container {
  min-height: calc(100vh - 50px);
  display: flex;
  flex-grow: auto;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}
