/*!***************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/style.scss ***!
  \***************************************************************************************************************************************************/
/*====================== FONTS ======================*/
@font-face {
  font-family: "Commissioner";
  font-weight: 400;
  src: url(assets/fonts/commissioner-latin-400-normal.woff2) format("woff2");
  unicode-range: U+0000-007F;
}
@font-face {
  font-family: "Commissioner";
  font-weight: 600;
  src: url(assets/fonts/commissioner-latin-600-normal.woff2) format("woff2");
  unicode-range: U+0000-007F;
}
@font-face {
  font-family: "Roboto Serif";
  font-weight: 400;
  src: url(assets/fonts/roboto-serif-400-normal.woff2) format("woff2");
  unicode-range: U+0000-007F;
}
@font-face {
  font-family: "Roboto Serif";
  font-weight: 600;
  src: url(assets/fonts/roboto-serif-600-normal.woff2) format("woff2");
  unicode-range: U+0000-007F;
}
@font-face {
  font-family: "Roboto Mono";
  font-weight: 400;
  src: url(assets/fonts/roboto-mono-400-normal.woff2) format("woff2");
  unicode-range: U+0000-007F;
}
@font-face {
  font-family: "Roboto Mono";
  font-weight: 600;
  src: url(assets/fonts/roboto-mono-600-normal.woff2) format("woff2");
  unicode-range: U+0000-007F;
}
/*=======================================================*/
/*====================== VARIABLES ======================*/
/*==================================================*/
/*====================== BASE ======================*/
:root {
  font-size: 100%;
}

body {
  background: top/cover no-repeat url(assets/light_bg.webp);
}

body, body h1, body input, ul, #before p, #app #response #phonetic > p {
  margin: 0;
}

body.sans {
  font: 400 1rem "Commissioner", sans-serif;
}
body.sans input, body.sans #font-selection {
  font: 400 1rem "Commissioner", sans-serif;
  font-size: 1.2vw;
}

body.serif {
  font: 400 1rem "Roboto Serif", serif;
}
body.serif input, body.serif #font-selection {
  font: 400 1rem "Roboto Serif", serif;
  font-size: 1.2vw;
}

body.mono {
  font: 400 1rem "Roboto Mono", ui-monospace;
}
body.mono input, body.mono #font-selection {
  font: 400 1rem "Roboto Mono", ui-monospace;
  font-size: 1vw;
}

/*====================================================*/
/*====================== HEADER ======================*/
header {
  display: grid;
  grid-template-columns: 1fr minmax(11vw, auto) 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #2f4858;
  min-height: 3.7vw;
  padding: 0 0.8vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
header #header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5vw;
  color: #b6f0e6;
  text-decoration: none;
  padding-right: 15px;
}
header #header-title img {
  width: 2.4vw;
  height: 2.4vw;
}
header h1 {
  font-family: "Commissioner";
  font-size: 1.7vw;
}
header #mode-box {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 12vw;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
header #mode-switch {
  width: 4vw;
}
header #mode-switch:hover {
  cursor: pointer;
  -webkit-filter: saturate(200%);
          filter: saturate(200%);
}

form {
  display: grid;
  grid: 2.5vw/25vw 2.5vw;
}
form input {
  padding: 0.8vw;
  border: none;
  outline: none;
  z-index: 1;
}
form button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
  border: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  z-index: 1;
}
form button:hover {
  background-color: #e4e4e4;
}
form button:active {
  background-color: #d6d6d6;
}
form svg {
  width: 1.4vw;
  height: auto;
}
form.invalid:invalid {
  border-radius: 0.2vw;
  outline: solid 0.2vw #ff7c7c;
}
form.invalid:invalid input {
  border-radius: 0.2vw 0 0 0.2vw;
}
form.invalid:invalid input::-webkit-input-placeholder {
  color: #ff7c7c;
}
form.invalid:invalid input::-moz-placeholder {
  color: #ff7c7c;
}
form.invalid:invalid input:-ms-input-placeholder {
  color: #ff7c7c;
}
form.invalid:invalid input::-ms-input-placeholder {
  color: #ff7c7c;
}
form.invalid:invalid input::placeholder {
  color: #ff7c7c;
}
form.invalid:invalid button {
  border-radius: 0 0.2vw 0.2vw 0;
}

#error-text {
  color: #ff7c7c;
  justify-self: center;
  font-size: 0.7vw;
}

/*==================================================*/
/*====================== MAIN ======================*/
#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: calc(100vh - 5.9vw);
  background: rgba(253, 253, 253, 0.6235294118);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

#app {
  background-color: #f2f2f2;
  padding: 0 1vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#app #before {
  text-align: center;
}
#app #before h2 {
  font-size: 2.5vw;
  margin-top: 2vw;
}
#app #before p {
  font-size: 1.3vw;
}
#app #before p:last-child {
  font-size: 0.7vw;
  font-style: italic;
  margin: 1vw 0 1.3vw 0;
}
#app #before p:last-child a {
  text-decoration: none;
}
#app #response {
  display: none;
  width: 50vw;
}
#app #response h2, #app #response h3 {
  text-transform: capitalize;
  font-size: 1.2vw;
}
#app #response ul {
  padding-left: 2.3vw;
}
#app #response li, #app #response p {
  margin: 0 0 0.8vw 0;
  font-size: 0.8vw;
}
#app #response p.no-phonetics {
  font-style: italic;
}
#app #response > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#app #response #word {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0.4vw;
}
#app.after {
  -webkit-animation: responseFade 0.2s linear 1 forwards;
          animation: responseFade 0.2s linear 1 forwards;
}
@-webkit-keyframes responseFade {
  from {
    -webkit-transform: translateY(3vw);
            transform: translateY(3vw);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes responseFade {
  from {
    -webkit-transform: translateY(3vw);
            transform: translateY(3vw);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}
#app.after #response {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div#word-audio {
  height: 1.6vw;
  width: 1.6vw;
  background: #d6d6d6;
  border-radius: 100%;
  padding: 0.3vw;
}
div#word-audio:hover {
  -webkit-filter: sepia(20%);
          filter: sepia(20%);
  cursor: pointer;
}
div#word-audio.unavailable {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}
div#word-audio.unavailable:hover {
  cursor: not-allowed;
}

/*====================================================*/
/*====================== FOOTER ======================*/
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0.8vw;
  background: #ddebf4;
  min-height: 2.2vw;
}
footer a {
  text-decoration: none;
  color: #7d5165;
  font-size: 0.8vw;
}
footer a:active {
  color: #ff0000;
}
footer #font-selection {
  min-width: 9vw;
  min-height: 1.7vw;
  padding-left: 0.8vw;
  border-radius: 0.5vw;
  border: solid 1px rgba(0, 0, 0, 0.6235294118);
  outline: none;
}
footer #font-selection:hover {
  cursor: pointer;
  background: #d8ffff;
}

/*================================================================================*/
/*====================== MEDIA QUERIES (COLOR PREFERENCES) ======================*/
@media (prefers-color-scheme: dark) {
  header #mode-switch {
    content: url("data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 fill=%27%23B6F0E6%27 height=%2745px%27 shape-rendering=%27geometricPrecision%27 text-rendering=%27geometricPrecision%27 image-rendering=%27optimizeQuality%27 fill-rule=%27evenodd%27 clip-rule=%27evenodd%27 viewBox=%270 0 512 262.86%27%3E%3Cpath fill-rule=%27nonzero%27 d=%27M316.78 16.55h-205.9c-30.5 0-58.22 12.48-78.31 32.57C12.47 69.21 0 96.93 0 127.44c0 30.5 12.47 58.22 32.57 78.31 20.09 20.1 47.81 32.57 78.31 32.57h193.25c21.54 15.43 47.9 24.54 76.26 24.54h.18c36.14 0 69.02-14.79 92.83-38.6 23.8-23.81 38.6-56.67 38.6-92.83 0-36.15-14.78-69.03-38.63-92.8C449.53 14.8 416.67 0 380.57 0h-.18c-23.02 0-44.72 6.02-63.61 16.55zm70.62 97.17.43.09c.82-3.45 2.83-6.19 6.04-8.16 3.2-1.98 6.53-2.57 10.01-1.75l.1-.43c-3.47-.82-6.2-2.83-8.17-6.03-1.98-3.22-2.57-6.55-1.75-10.01l-.43-.1c-.82 3.47-2.83 6.2-6.03 8.18-3.21 1.98-6.55 2.56-10.02 1.74l-.1.43c3.47.82 6.2 2.84 8.18 6.04 1.99 3.19 2.56 6.52 1.74 10zm36.87 16.77.53.12c1.02-4.35 3.55-7.78 7.58-10.26 4.02-2.49 8.2-3.22 12.56-2.19l.13-.53c-4.35-1.03-7.78-3.55-10.26-7.59-2.49-4.03-3.22-8.22-2.2-12.56l-.53-.12c-1.02 4.35-3.55 7.77-7.58 10.26-4.02 2.49-8.21 3.22-12.56 2.19l-.13.53c4.36 1.03 7.78 3.55 10.26 7.58 2.49 4.02 3.22 8.22 2.2 12.57zm-38.79-61.01c-15.69 7.67-26.98 23.26-28.29 41.93-1.96 27.88 19.05 52.06 46.92 54.02 13.23.93 25.64-3.32 35.22-11.02 4.75-3.82 9.66-.45 7.59 4.36-11.33 26.42-38.45 44.04-68.74 41.91-38.29-2.69-67.14-35.91-64.45-74.19C316.3 89.8 347.05 61.67 383.44 62c6.71.06 8.13 4.5 2.04 7.48zm-5.09-53.95h.18c63.75 0 115.91 52.15 115.91 115.9 0 63.75-52.23 115.91-115.91 115.91h-.18c-63.68 0-115.91-52.16-115.91-115.91s52.16-115.9 115.91-115.9z%27/%3E%3C/svg%3E");
  }
  body.theme {
    background: top/cover no-repeat url(assets/dark_bg.webp);
  }
  body.theme div#word-audio {
    background: #676767;
    content: url("data:image/svg+xml,%3Csvg width=%2750px%27 height=%2750px%27 fill=%27%23ffffff%27 version=%271.1%27 viewBox=%270 0 522.23 522.23%27 xml:space=%27preserve%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27m346.35 41.163c-10.855-10.367-25.076-16.078-40.045-16.078-10.832 0-21.445 3.063-30.689 8.857l-159.16 99.761h-58.101c-31.9 0-57.854 25.952-57.854 57.853v138.92c0 31.9 25.953 57.854 57.854 57.854h57.773l159.49 99.965c9.244 5.795 19.857 8.857 30.691 8.857 14.969 0 29.189-5.71 40.047-16.078 5.543-5.293 9.908-11.525 12.979-18.523 3.227-7.353 4.861-15.184 4.861-23.275v-356.31c0-8.094-1.635-15.925-4.861-23.278-3.071-6.996-7.438-13.228-12.981-18.522zm-24.996 219.85v178.26c0 8.803-7.227 15.037-15.049 15.037-2.664 0-5.398-0.724-7.939-2.316l-161.14-101c-5.736-3.595-12.368-5.502-19.138-5.502h-59.73c-8.292 0-15.014-6.722-15.014-15.014v-138.92c0-8.291 6.722-15.013 15.014-15.013h60.059c6.77 0 13.4-1.907 19.137-5.502l160.82-100.8c2.541-1.593 5.273-2.316 7.939-2.316 7.822 0 15.049 6.236 15.049 15.038v178.05z%27/%3E%3Cpath d=%27m306.3 497.65c-10.929 0-21.634-3.089-30.957-8.934l-159.36-99.889h-57.629c-32.177 1e-3 -58.354-26.177-58.354-58.352v-138.92c0-32.176 26.177-58.353 58.354-58.353h57.958l159.04-99.684c9.325-5.844 20.029-8.934 30.955-8.934 15.096 0 29.44 5.759 40.391 16.216 5.591 5.34 9.995 11.625 13.093 18.683 3.254 7.415 4.903 15.314 4.903 23.479v356.31c0 8.163-1.649 16.062-4.903 23.477-3.099 7.062-7.503 13.348-13.091 18.684-10.952 10.458-25.297 16.216-40.393 16.216zm-247.95-363.45c-31.625 0-57.354 25.728-57.354 57.353v138.92c0 31.625 25.729 57.354 57.354 57.354h57.917l0.122 0.076 159.49 99.965c9.164 5.745 19.685 8.781 30.426 8.781 14.838 0 28.938-5.661 39.701-15.939 5.493-5.245 9.821-11.423 12.866-18.363 3.198-7.287 4.819-15.05 4.819-23.074v-356.31c0-8.025-1.621-15.79-4.819-23.077-3.044-6.937-7.373-13.114-12.868-18.362-10.763-10.279-24.861-15.939-39.699-15.939-10.738 0-21.259 3.037-30.424 8.781l-159.28 99.837h-58.245zm247.95 320.61c-2.87 0-5.708-0.827-8.205-2.393l-161.14-101c-5.664-3.55-12.189-5.426-18.872-5.426h-59.73c-8.554 0-15.514-6.959-15.514-15.514v-138.92c0-8.554 6.959-15.513 15.514-15.513h60.059c6.682 0 13.207-1.876 18.871-5.426l160.82-100.8c2.497-1.565 5.335-2.393 8.205-2.393 8.573 0 15.549 6.97 15.549 15.538v356.31c0 8.568-6.976 15.538-15.549 15.538zm-247.95-277.77c-8.003 0-14.514 6.51-14.514 14.513v138.92c0 8.003 6.511 14.514 14.514 14.514h59.73c6.871 0 13.58 1.929 19.403 5.578l161.14 101c2.338 1.466 4.991 2.24 7.674 2.24 8.022 0 14.549-6.521 14.549-14.537v-356.31c0-8.016-6.526-14.538-14.549-14.538-2.683 0-5.336 0.774-7.674 2.24l-160.82 100.8c-5.824 3.649-12.533 5.578-19.402 5.578h-60.058z%27/%3E%3Cpath d=%27m424.27 156.54c-5.266-10.594-18.125-14.911-28.715-9.646-10.594 5.266-14.912 18.123-9.646 28.716 12.426 24.995 18.992 54.604 18.992 85.626 0 31.506-6.754 61.487-19.533 86.705-5.348 10.553-1.129 23.442 9.424 28.79 3.104 1.572 6.408 2.317 9.664 2.317 7.816 0 15.35-4.294 19.125-11.742 15.807-31.191 24.16-67.869 24.16-106.07 2e-3 -37.604-8.115-73.808-23.471-104.7z%27/%3E%3Cpath d=%27m404.46 379.54c-3.456 0-6.784-0.798-9.89-2.371-10.782-5.464-15.108-18.681-9.645-29.462 12.744-25.147 19.479-55.052 19.479-86.479 0-30.948-6.549-60.48-18.939-85.404-2.606-5.243-3.016-11.188-1.15-16.738 1.864-5.55 5.778-10.042 11.021-12.648 3.064-1.523 6.341-2.296 9.739-2.296 8.388 0 15.916 4.662 19.646 12.167 15.391 30.959 23.524 67.239 23.522 104.92 0 38.28-8.373 75.037-24.214 106.3-3.755 7.411-11.255 12.016-19.569 12.016zm0.616-234.4c-3.242 0-6.369 0.737-9.294 2.191-5.004 2.487-8.74 6.774-10.52 12.071-1.779 5.297-1.39 10.97 1.098 15.974 12.459 25.062 19.045 54.748 19.045 85.849 0 31.584-6.773 61.645-19.587 86.931-5.215 10.29-1.086 22.904 9.203 28.118 2.965 1.502 6.141 2.264 9.438 2.264 7.936 0 15.094-4.395 18.679-11.468 15.771-31.12 24.106-67.721 24.106-105.84 2e-3 -37.526-8.096-73.652-23.418-104.47-3.559-7.161-10.744-11.611-18.75-11.611z%27/%3E%3Cpath d=%27m456.55 88.245c-10.594 5.266-14.912 18.122-9.646 28.716 20.932 42.105 31.994 91.864 31.994 143.9 0 52.847-11.381 103.24-32.912 145.73-5.348 10.552-1.129 23.441 9.424 28.788 3.104 1.573 6.408 2.318 9.666 2.318 7.814 0 15.35-4.294 19.123-11.743 24.559-48.462 37.539-105.55 37.539-165.09 0-58.615-12.611-114.97-36.473-162.97-5.266-10.593-18.121-14.913-28.715-9.645z%27/%3E%3Cpath d=%27m465.07 438.19c-3.458 0-6.787-0.798-9.893-2.372-5.223-2.646-9.102-7.168-10.923-12.732s-1.367-11.506 1.279-16.728c21.496-42.42 32.858-92.733 32.858-145.5 0-51.958-11.045-101.64-31.941-143.67-5.381-10.824-0.952-24.006 9.871-29.386 3.065-1.524 6.343-2.297 9.742-2.297 8.386 0 15.912 4.663 19.643 12.167 23.896 48.067 36.525 104.5 36.525 163.19 0 59.619-12.999 116.78-37.593 165.32-3.753 7.414-11.252 12.018-19.568 12.018zm0.994-351.69c-3.243 0-6.371 0.738-9.297 2.193-5.004 2.487-8.74 6.774-10.52 12.071s-1.389 10.97 1.098 15.974c20.966 42.172 32.047 92.008 32.047 144.12 0 52.924-11.399 103.39-32.966 145.95-2.526 4.984-2.96 10.654-1.222 15.965s5.44 9.626 10.425 12.151c2.965 1.503 6.141 2.265 9.44 2.265 7.937 0 15.094-4.395 18.677-11.469 24.523-48.392 37.485-105.4 37.485-164.86 0-58.54-12.594-114.82-36.42-162.74-3.56-7.164-10.744-11.613-18.747-11.613z%27/%3E%3C/svg%3E%0A");
  }
  body.theme footer, body.theme header {
    background-color: #0d1418;
  }
  body.theme form input {
    background-color: #262626;
    color: #f2f2f2;
  }
  body.theme form button {
    background-color: #474747;
  }
  body.theme form button:hover {
    background-color: #474747;
    -webkit-filter: brightness(90%);
            filter: brightness(90%);
  }
  body.theme form button:active {
    background-color: #474747;
    -webkit-filter: brightness(80%);
            filter: brightness(80%);
  }
  body.theme form svg {
    fill: #f2f2f2;
  }
  body.theme #container {
    background-color: rgba(0, 0, 0, 0.6235294118);
  }
  body.theme #app {
    background-color: #474747;
    color: #f2f2f2;
  }
}
@media screen and (prefers-color-scheme: dark) and (max-width: 768px) {
  body.theme #app {
    background-color: rgba(71, 71, 71, 0.3725490196);
  }
}
@media (prefers-color-scheme: dark) {
  body.theme header #mode-switch {
    content: url("data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 fill=%27%23B6F0E6%27 height=%2745px%27 shape-rendering=%27geometricPrecision%27 text-rendering=%27geometricPrecision%27 image-rendering=%27optimizeQuality%27 fill-rule=%27evenodd%27 clip-rule=%27evenodd%27 viewBox=%270 0 512 262.86%27%3E%3Cpath fill-rule=%27nonzero%27 d=%27M316.78 16.55h-205.9c-30.5 0-58.22 12.48-78.31 32.57C12.47 69.21 0 96.93 0 127.44c0 30.5 12.47 58.22 32.57 78.31 20.09 20.1 47.81 32.57 78.31 32.57h193.25c21.54 15.43 47.9 24.54 76.26 24.54h.18c36.14 0 69.02-14.79 92.83-38.6 23.8-23.81 38.6-56.67 38.6-92.83 0-36.15-14.78-69.03-38.63-92.8C449.53 14.8 416.67 0 380.57 0h-.18c-23.02 0-44.72 6.02-63.61 16.55zm70.62 97.17.43.09c.82-3.45 2.83-6.19 6.04-8.16 3.2-1.98 6.53-2.57 10.01-1.75l.1-.43c-3.47-.82-6.2-2.83-8.17-6.03-1.98-3.22-2.57-6.55-1.75-10.01l-.43-.1c-.82 3.47-2.83 6.2-6.03 8.18-3.21 1.98-6.55 2.56-10.02 1.74l-.1.43c3.47.82 6.2 2.84 8.18 6.04 1.99 3.19 2.56 6.52 1.74 10zm36.87 16.77.53.12c1.02-4.35 3.55-7.78 7.58-10.26 4.02-2.49 8.2-3.22 12.56-2.19l.13-.53c-4.35-1.03-7.78-3.55-10.26-7.59-2.49-4.03-3.22-8.22-2.2-12.56l-.53-.12c-1.02 4.35-3.55 7.77-7.58 10.26-4.02 2.49-8.21 3.22-12.56 2.19l-.13.53c4.36 1.03 7.78 3.55 10.26 7.58 2.49 4.02 3.22 8.22 2.2 12.57zm-38.79-61.01c-15.69 7.67-26.98 23.26-28.29 41.93-1.96 27.88 19.05 52.06 46.92 54.02 13.23.93 25.64-3.32 35.22-11.02 4.75-3.82 9.66-.45 7.59 4.36-11.33 26.42-38.45 44.04-68.74 41.91-38.29-2.69-67.14-35.91-64.45-74.19C316.3 89.8 347.05 61.67 383.44 62c6.71.06 8.13 4.5 2.04 7.48zm-5.09-53.95h.18c63.75 0 115.91 52.15 115.91 115.9 0 63.75-52.23 115.91-115.91 115.91h-.18c-63.68 0-115.91-52.16-115.91-115.91s52.16-115.9 115.91-115.9z%27/%3E%3C/svg%3E");
  }
  body.theme #font-selection {
    background-color: #232323;
    color: #f2f2f2;
  }
  body.theme #font-selection:hover {
    background-color: #4e4e4e;
  }
  body.theme-b {
    background: top/cover no-repeat url(assets/light_bg.webp);
  }
  body.theme-b div#word-audio {
    background: #d6d6d6;
    content: url("data:image/svg+xml,%3Csvg width=%2750px%27 height=%2750px%27 fill=%27%23000000%27 version=%271.1%27 viewBox=%270 0 522.23 522.23%27 xml:space=%27preserve%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27m346.35 41.163c-10.855-10.367-25.076-16.078-40.045-16.078-10.832 0-21.445 3.063-30.689 8.857l-159.16 99.761h-58.101c-31.9 0-57.854 25.952-57.854 57.853v138.92c0 31.9 25.953 57.854 57.854 57.854h57.773l159.49 99.965c9.244 5.795 19.857 8.857 30.691 8.857 14.969 0 29.189-5.71 40.047-16.078 5.543-5.293 9.908-11.525 12.979-18.523 3.227-7.353 4.861-15.184 4.861-23.275v-356.31c0-8.094-1.635-15.925-4.861-23.278-3.071-6.996-7.438-13.228-12.981-18.522zm-24.996 219.85v178.26c0 8.803-7.227 15.037-15.049 15.037-2.664 0-5.398-0.724-7.939-2.316l-161.14-101c-5.736-3.595-12.368-5.502-19.138-5.502h-59.73c-8.292 0-15.014-6.722-15.014-15.014v-138.92c0-8.291 6.722-15.013 15.014-15.013h60.059c6.77 0 13.4-1.907 19.137-5.502l160.82-100.8c2.541-1.593 5.273-2.316 7.939-2.316 7.822 0 15.049 6.236 15.049 15.038v178.05z%27/%3E%3Cpath d=%27m306.3 497.65c-10.929 0-21.634-3.089-30.957-8.934l-159.36-99.889h-57.629c-32.177 1e-3 -58.354-26.177-58.354-58.352v-138.92c0-32.176 26.177-58.353 58.354-58.353h57.958l159.04-99.684c9.325-5.844 20.029-8.934 30.955-8.934 15.096 0 29.44 5.759 40.391 16.216 5.591 5.34 9.995 11.625 13.093 18.683 3.254 7.415 4.903 15.314 4.903 23.479v356.31c0 8.163-1.649 16.062-4.903 23.477-3.099 7.062-7.503 13.348-13.091 18.684-10.952 10.458-25.297 16.216-40.393 16.216zm-247.95-363.45c-31.625 0-57.354 25.728-57.354 57.353v138.92c0 31.625 25.729 57.354 57.354 57.354h57.917l0.122 0.076 159.49 99.965c9.164 5.745 19.685 8.781 30.426 8.781 14.838 0 28.938-5.661 39.701-15.939 5.493-5.245 9.821-11.423 12.866-18.363 3.198-7.287 4.819-15.05 4.819-23.074v-356.31c0-8.025-1.621-15.79-4.819-23.077-3.044-6.937-7.373-13.114-12.868-18.362-10.763-10.279-24.861-15.939-39.699-15.939-10.738 0-21.259 3.037-30.424 8.781l-159.28 99.837h-58.245zm247.95 320.61c-2.87 0-5.708-0.827-8.205-2.393l-161.14-101c-5.664-3.55-12.189-5.426-18.872-5.426h-59.73c-8.554 0-15.514-6.959-15.514-15.514v-138.92c0-8.554 6.959-15.513 15.514-15.513h60.059c6.682 0 13.207-1.876 18.871-5.426l160.82-100.8c2.497-1.565 5.335-2.393 8.205-2.393 8.573 0 15.549 6.97 15.549 15.538v356.31c0 8.568-6.976 15.538-15.549 15.538zm-247.95-277.77c-8.003 0-14.514 6.51-14.514 14.513v138.92c0 8.003 6.511 14.514 14.514 14.514h59.73c6.871 0 13.58 1.929 19.403 5.578l161.14 101c2.338 1.466 4.991 2.24 7.674 2.24 8.022 0 14.549-6.521 14.549-14.537v-356.31c0-8.016-6.526-14.538-14.549-14.538-2.683 0-5.336 0.774-7.674 2.24l-160.82 100.8c-5.824 3.649-12.533 5.578-19.402 5.578h-60.058z%27/%3E%3Cpath d=%27m424.27 156.54c-5.266-10.594-18.125-14.911-28.715-9.646-10.594 5.266-14.912 18.123-9.646 28.716 12.426 24.995 18.992 54.604 18.992 85.626 0 31.506-6.754 61.487-19.533 86.705-5.348 10.553-1.129 23.442 9.424 28.79 3.104 1.572 6.408 2.317 9.664 2.317 7.816 0 15.35-4.294 19.125-11.742 15.807-31.191 24.16-67.869 24.16-106.07 2e-3 -37.604-8.115-73.808-23.471-104.7z%27/%3E%3Cpath d=%27m404.46 379.54c-3.456 0-6.784-0.798-9.89-2.371-10.782-5.464-15.108-18.681-9.645-29.462 12.744-25.147 19.479-55.052 19.479-86.479 0-30.948-6.549-60.48-18.939-85.404-2.606-5.243-3.016-11.188-1.15-16.738 1.864-5.55 5.778-10.042 11.021-12.648 3.064-1.523 6.341-2.296 9.739-2.296 8.388 0 15.916 4.662 19.646 12.167 15.391 30.959 23.524 67.239 23.522 104.92 0 38.28-8.373 75.037-24.214 106.3-3.755 7.411-11.255 12.016-19.569 12.016zm0.616-234.4c-3.242 0-6.369 0.737-9.294 2.191-5.004 2.487-8.74 6.774-10.52 12.071-1.779 5.297-1.39 10.97 1.098 15.974 12.459 25.062 19.045 54.748 19.045 85.849 0 31.584-6.773 61.645-19.587 86.931-5.215 10.29-1.086 22.904 9.203 28.118 2.965 1.502 6.141 2.264 9.438 2.264 7.936 0 15.094-4.395 18.679-11.468 15.771-31.12 24.106-67.721 24.106-105.84 2e-3 -37.526-8.096-73.652-23.418-104.47-3.559-7.161-10.744-11.611-18.75-11.611z%27/%3E%3Cpath d=%27m456.55 88.245c-10.594 5.266-14.912 18.122-9.646 28.716 20.932 42.105 31.994 91.864 31.994 143.9 0 52.847-11.381 103.24-32.912 145.73-5.348 10.552-1.129 23.441 9.424 28.788 3.104 1.573 6.408 2.318 9.666 2.318 7.814 0 15.35-4.294 19.123-11.743 24.559-48.462 37.539-105.55 37.539-165.09 0-58.615-12.611-114.97-36.473-162.97-5.266-10.593-18.121-14.913-28.715-9.645z%27/%3E%3Cpath d=%27m465.07 438.19c-3.458 0-6.787-0.798-9.893-2.372-5.223-2.646-9.102-7.168-10.923-12.732s-1.367-11.506 1.279-16.728c21.496-42.42 32.858-92.733 32.858-145.5 0-51.958-11.045-101.64-31.941-143.67-5.381-10.824-0.952-24.006 9.871-29.386 3.065-1.524 6.343-2.297 9.742-2.297 8.386 0 15.912 4.663 19.643 12.167 23.896 48.067 36.525 104.5 36.525 163.19 0 59.619-12.999 116.78-37.593 165.32-3.753 7.414-11.252 12.018-19.568 12.018zm0.994-351.69c-3.243 0-6.371 0.738-9.297 2.193-5.004 2.487-8.74 6.774-10.52 12.071s-1.389 10.97 1.098 15.974c20.966 42.172 32.047 92.008 32.047 144.12 0 52.924-11.399 103.39-32.966 145.95-2.526 4.984-2.96 10.654-1.222 15.965s5.44 9.626 10.425 12.151c2.965 1.503 6.141 2.265 9.44 2.265 7.937 0 15.094-4.395 18.677-11.469 24.523-48.392 37.485-105.4 37.485-164.86 0-58.54-12.594-114.82-36.42-162.74-3.56-7.164-10.744-11.613-18.747-11.613z%27/%3E%3C/svg%3E");
  }
  body.theme-b footer {
    background-color: #ddebf4;
  }
  body.theme-b header {
    background-color: #2f4858;
  }
  body.theme-b form input {
    background-color: #ffffff;
    color: #0d1418;
  }
  body.theme-b form button {
    background-color: #f2f2f2;
  }
  body.theme-b form button:hover {
    background-color: #e4e4e4;
  }
  body.theme-b form button:active {
    background-color: #d6d6d6;
  }
  body.theme-b form svg {
    fill: #0d1418;
  }
  body.theme-b #container {
    background-color: rgba(253, 253, 253, 0.6235294118);
  }
}
@media screen and (prefers-color-scheme: dark) and (max-width: 768px) {
  body.theme-b #app {
    background-color: rgba(71, 71, 71, 0.3725490196);
  }
}
@media (prefers-color-scheme: dark) {
  body.theme-b #app {
    background-color: #f2f2f2;
    color: #0d1418;
  }
  body.theme-b header #mode-switch {
    content: url("data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 height=%2745px%27 fill=%27%23B6F0E6%27 shape-rendering=%27geometricPrecision%27 text-rendering=%27geometricPrecision%27 image-rendering=%27optimizeQuality%27 fill-rule=%27evenodd%27 clip-rule=%27evenodd%27 viewBox=%270 0 512 256.04%27%3E%3Cpath d=%27M128.02 0h.18c22.03 0 42.83 5.66 61 15.6h210.38c30.89 0 59 12.65 79.38 33.04C499.35 68.99 512 97.1 512 128.02c0 30.92-12.66 59.03-33.02 79.4l-.42.38c-20.34 20.15-48.29 32.64-78.98 32.64H189.24c-18.17 9.93-38.98 15.6-61.04 15.6h-.18c-35.2 0-67.22-14.41-90.42-37.6C14.41 195.25 0 163.24 0 128.02s14.4-67.24 37.59-90.43l.91-.83C61.65 14.05 93.29 0 128.02 0zm-5.95 54.42c0-1.95.8-3.73 2.08-5 2.74-2.77 7.27-2.76 10.02-.01l.14.16a7.042 7.042 0 0 1 1.94 4.85v12.95c0 1.95-.8 3.73-2.08 5.01-2.75 2.75-7.27 2.75-10.02 0a7.084 7.084 0 0 1-2.08-5.01V54.42zm6.05 31.17c11.72 0 22.32 4.75 30 12.43 7.67 7.68 12.43 18.29 12.43 30 0 11.72-4.75 22.32-12.43 30s-18.28 12.43-30 12.43c-11.72 0-22.32-4.75-30.01-12.43-7.67-7.68-12.43-18.28-12.43-30 0-11.72 4.76-22.32 12.43-30 7.69-7.67 18.3-12.43 30.01-12.43zm-56.33-5.34a7.114 7.114 0 0 1-2.07-5.01c0-3.9 3.18-7.09 7.09-7.09 1.81 0 3.62.69 5 2.07l9.16 9.16a7.065 7.065 0 0 1 2.08 5.01c0 1.8-.7 3.62-2.08 5.01a7.057 7.057 0 0 1-5.01 2.08c-1.8 0-3.61-.7-5-2.07l-9.17-9.16zm-17.28 53.81c-1.95 0-3.73-.8-5-2.08-2.77-2.74-2.76-7.27-.01-10.01l.15-.14a7.04 7.04 0 0 1 4.86-1.94h12.94a7.082 7.082 0 0 1 7.09 7.09c0 1.95-.8 3.73-2.07 5.01a7.099 7.099 0 0 1-5.02 2.07H54.51zm25.82 50.28a7.049 7.049 0 0 1-5 2.07c-3.91 0-7.09-3.16-7.09-7.08 0-1.81.68-3.62 2.07-5.01l9.31-9.29a7.02 7.02 0 0 1 4.86-1.94 7.09 7.09 0 0 1 7.09 7.09c0 1.79-.69 3.6-2.08 4.99l-9.16 9.17zm53.82 17.29c0 1.94-.8 3.73-2.08 5-2.74 2.76-7.27 2.75-10.02 0l-.13-.15a7.033 7.033 0 0 1-1.94-4.85v-12.95c0-1.96.8-3.73 2.07-5.01 2.76-2.75 7.27-2.75 10.03 0a7.1 7.1 0 0 1 2.07 5.01v12.95zm50.28-25.83a7.055 7.055 0 0 1 2.07 5.01c0 3.89-3.18 7.09-7.08 7.09-1.81 0-3.63-.69-5.01-2.07l-9.16-9.16a7.095 7.095 0 0 1-2.07-5.02c0-3.9 3.18-7.09 7.08-7.09 1.8 0 3.61.7 5 2.08l9.17 9.16zm17.29-53.82c1.93 0 3.73.81 5 2.08 2.76 2.75 2.75 7.27 0 10.02l-.15.14a7.098 7.098 0 0 1-4.85 1.94h-12.95c-1.96 0-3.74-.8-5.01-2.08-2.76-2.75-2.76-7.27 0-10.02a7.049 7.049 0 0 1 5.01-2.08h12.95zM175.89 71.7a7.074 7.074 0 0 1 5-2.07c3.9 0 7.1 3.19 7.1 7.09 0 1.81-.69 3.62-2.07 5l-9.32 9.31a7.12 7.12 0 0 1-4.86 1.93c-3.91 0-7.09-3.18-7.09-7.09 0-1.8.7-3.61 2.08-5l9.16-9.17zm34.17-41.87c2.96 2.47 5.81 5.07 8.53 7.8 23.22 23.15 37.63 55.17 37.63 90.39s-14.42 67.23-37.6 90.42a130.2 130.2 0 0 1-8.5 7.77h189.46c26.83 0 51.24-10.91 69.02-28.5l.32-.35c17.79-17.79 28.85-42.35 28.85-69.34 0-26.99-11.06-51.55-28.85-69.35-17.77-17.8-42.33-28.84-69.34-28.84H210.06zm-82.04-14.71h.18c62.09 0 112.89 50.81 112.89 112.9 0 62.1-50.86 112.9-112.89 112.9h-.18c-62.03 0-112.9-50.8-112.9-112.9 0-62.09 50.81-112.9 112.9-112.9z%27/%3E%3C/svg%3E");
  }
  body.theme-b #font-selection {
    background-color: #eaf7ff;
    color: #0d1418;
  }
  body.theme-b #font-selection:hover {
    background-color: #d8ffff;
  }
}
@media (prefers-color-scheme: light) {
  header #mode-switch {
    content: url("data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 height=%2745px%27 fill=%27%23B6F0E6%27 shape-rendering=%27geometricPrecision%27 text-rendering=%27geometricPrecision%27 image-rendering=%27optimizeQuality%27 fill-rule=%27evenodd%27 clip-rule=%27evenodd%27 viewBox=%270 0 512 256.04%27%3E%3Cpath d=%27M128.02 0h.18c22.03 0 42.83 5.66 61 15.6h210.38c30.89 0 59 12.65 79.38 33.04C499.35 68.99 512 97.1 512 128.02c0 30.92-12.66 59.03-33.02 79.4l-.42.38c-20.34 20.15-48.29 32.64-78.98 32.64H189.24c-18.17 9.93-38.98 15.6-61.04 15.6h-.18c-35.2 0-67.22-14.41-90.42-37.6C14.41 195.25 0 163.24 0 128.02s14.4-67.24 37.59-90.43l.91-.83C61.65 14.05 93.29 0 128.02 0zm-5.95 54.42c0-1.95.8-3.73 2.08-5 2.74-2.77 7.27-2.76 10.02-.01l.14.16a7.042 7.042 0 0 1 1.94 4.85v12.95c0 1.95-.8 3.73-2.08 5.01-2.75 2.75-7.27 2.75-10.02 0a7.084 7.084 0 0 1-2.08-5.01V54.42zm6.05 31.17c11.72 0 22.32 4.75 30 12.43 7.67 7.68 12.43 18.29 12.43 30 0 11.72-4.75 22.32-12.43 30s-18.28 12.43-30 12.43c-11.72 0-22.32-4.75-30.01-12.43-7.67-7.68-12.43-18.28-12.43-30 0-11.72 4.76-22.32 12.43-30 7.69-7.67 18.3-12.43 30.01-12.43zm-56.33-5.34a7.114 7.114 0 0 1-2.07-5.01c0-3.9 3.18-7.09 7.09-7.09 1.81 0 3.62.69 5 2.07l9.16 9.16a7.065 7.065 0 0 1 2.08 5.01c0 1.8-.7 3.62-2.08 5.01a7.057 7.057 0 0 1-5.01 2.08c-1.8 0-3.61-.7-5-2.07l-9.17-9.16zm-17.28 53.81c-1.95 0-3.73-.8-5-2.08-2.77-2.74-2.76-7.27-.01-10.01l.15-.14a7.04 7.04 0 0 1 4.86-1.94h12.94a7.082 7.082 0 0 1 7.09 7.09c0 1.95-.8 3.73-2.07 5.01a7.099 7.099 0 0 1-5.02 2.07H54.51zm25.82 50.28a7.049 7.049 0 0 1-5 2.07c-3.91 0-7.09-3.16-7.09-7.08 0-1.81.68-3.62 2.07-5.01l9.31-9.29a7.02 7.02 0 0 1 4.86-1.94 7.09 7.09 0 0 1 7.09 7.09c0 1.79-.69 3.6-2.08 4.99l-9.16 9.17zm53.82 17.29c0 1.94-.8 3.73-2.08 5-2.74 2.76-7.27 2.75-10.02 0l-.13-.15a7.033 7.033 0 0 1-1.94-4.85v-12.95c0-1.96.8-3.73 2.07-5.01 2.76-2.75 7.27-2.75 10.03 0a7.1 7.1 0 0 1 2.07 5.01v12.95zm50.28-25.83a7.055 7.055 0 0 1 2.07 5.01c0 3.89-3.18 7.09-7.08 7.09-1.81 0-3.63-.69-5.01-2.07l-9.16-9.16a7.095 7.095 0 0 1-2.07-5.02c0-3.9 3.18-7.09 7.08-7.09 1.8 0 3.61.7 5 2.08l9.17 9.16zm17.29-53.82c1.93 0 3.73.81 5 2.08 2.76 2.75 2.75 7.27 0 10.02l-.15.14a7.098 7.098 0 0 1-4.85 1.94h-12.95c-1.96 0-3.74-.8-5.01-2.08-2.76-2.75-2.76-7.27 0-10.02a7.049 7.049 0 0 1 5.01-2.08h12.95zM175.89 71.7a7.074 7.074 0 0 1 5-2.07c3.9 0 7.1 3.19 7.1 7.09 0 1.81-.69 3.62-2.07 5l-9.32 9.31a7.12 7.12 0 0 1-4.86 1.93c-3.91 0-7.09-3.18-7.09-7.09 0-1.8.7-3.61 2.08-5l9.16-9.17zm34.17-41.87c2.96 2.47 5.81 5.07 8.53 7.8 23.22 23.15 37.63 55.17 37.63 90.39s-14.42 67.23-37.6 90.42a130.2 130.2 0 0 1-8.5 7.77h189.46c26.83 0 51.24-10.91 69.02-28.5l.32-.35c17.79-17.79 28.85-42.35 28.85-69.34 0-26.99-11.06-51.55-28.85-69.35-17.77-17.8-42.33-28.84-69.34-28.84H210.06zm-82.04-14.71h.18c62.09 0 112.89 50.81 112.89 112.9 0 62.1-50.86 112.9-112.89 112.9h-.18c-62.03 0-112.9-50.8-112.9-112.9 0-62.09 50.81-112.9 112.9-112.9z%27/%3E%3C/svg%3E");
  }
  #font-selection {
    background: #eaf7ff;
  }
  div#word-audio {
    content: url("data:image/svg+xml,%3Csvg width=%2750px%27 height=%2750px%27 fill=%27%23000000%27 version=%271.1%27 viewBox=%270 0 522.23 522.23%27 xml:space=%27preserve%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27m346.35 41.163c-10.855-10.367-25.076-16.078-40.045-16.078-10.832 0-21.445 3.063-30.689 8.857l-159.16 99.761h-58.101c-31.9 0-57.854 25.952-57.854 57.853v138.92c0 31.9 25.953 57.854 57.854 57.854h57.773l159.49 99.965c9.244 5.795 19.857 8.857 30.691 8.857 14.969 0 29.189-5.71 40.047-16.078 5.543-5.293 9.908-11.525 12.979-18.523 3.227-7.353 4.861-15.184 4.861-23.275v-356.31c0-8.094-1.635-15.925-4.861-23.278-3.071-6.996-7.438-13.228-12.981-18.522zm-24.996 219.85v178.26c0 8.803-7.227 15.037-15.049 15.037-2.664 0-5.398-0.724-7.939-2.316l-161.14-101c-5.736-3.595-12.368-5.502-19.138-5.502h-59.73c-8.292 0-15.014-6.722-15.014-15.014v-138.92c0-8.291 6.722-15.013 15.014-15.013h60.059c6.77 0 13.4-1.907 19.137-5.502l160.82-100.8c2.541-1.593 5.273-2.316 7.939-2.316 7.822 0 15.049 6.236 15.049 15.038v178.05z%27/%3E%3Cpath d=%27m306.3 497.65c-10.929 0-21.634-3.089-30.957-8.934l-159.36-99.889h-57.629c-32.177 1e-3 -58.354-26.177-58.354-58.352v-138.92c0-32.176 26.177-58.353 58.354-58.353h57.958l159.04-99.684c9.325-5.844 20.029-8.934 30.955-8.934 15.096 0 29.44 5.759 40.391 16.216 5.591 5.34 9.995 11.625 13.093 18.683 3.254 7.415 4.903 15.314 4.903 23.479v356.31c0 8.163-1.649 16.062-4.903 23.477-3.099 7.062-7.503 13.348-13.091 18.684-10.952 10.458-25.297 16.216-40.393 16.216zm-247.95-363.45c-31.625 0-57.354 25.728-57.354 57.353v138.92c0 31.625 25.729 57.354 57.354 57.354h57.917l0.122 0.076 159.49 99.965c9.164 5.745 19.685 8.781 30.426 8.781 14.838 0 28.938-5.661 39.701-15.939 5.493-5.245 9.821-11.423 12.866-18.363 3.198-7.287 4.819-15.05 4.819-23.074v-356.31c0-8.025-1.621-15.79-4.819-23.077-3.044-6.937-7.373-13.114-12.868-18.362-10.763-10.279-24.861-15.939-39.699-15.939-10.738 0-21.259 3.037-30.424 8.781l-159.28 99.837h-58.245zm247.95 320.61c-2.87 0-5.708-0.827-8.205-2.393l-161.14-101c-5.664-3.55-12.189-5.426-18.872-5.426h-59.73c-8.554 0-15.514-6.959-15.514-15.514v-138.92c0-8.554 6.959-15.513 15.514-15.513h60.059c6.682 0 13.207-1.876 18.871-5.426l160.82-100.8c2.497-1.565 5.335-2.393 8.205-2.393 8.573 0 15.549 6.97 15.549 15.538v356.31c0 8.568-6.976 15.538-15.549 15.538zm-247.95-277.77c-8.003 0-14.514 6.51-14.514 14.513v138.92c0 8.003 6.511 14.514 14.514 14.514h59.73c6.871 0 13.58 1.929 19.403 5.578l161.14 101c2.338 1.466 4.991 2.24 7.674 2.24 8.022 0 14.549-6.521 14.549-14.537v-356.31c0-8.016-6.526-14.538-14.549-14.538-2.683 0-5.336 0.774-7.674 2.24l-160.82 100.8c-5.824 3.649-12.533 5.578-19.402 5.578h-60.058z%27/%3E%3Cpath d=%27m424.27 156.54c-5.266-10.594-18.125-14.911-28.715-9.646-10.594 5.266-14.912 18.123-9.646 28.716 12.426 24.995 18.992 54.604 18.992 85.626 0 31.506-6.754 61.487-19.533 86.705-5.348 10.553-1.129 23.442 9.424 28.79 3.104 1.572 6.408 2.317 9.664 2.317 7.816 0 15.35-4.294 19.125-11.742 15.807-31.191 24.16-67.869 24.16-106.07 2e-3 -37.604-8.115-73.808-23.471-104.7z%27/%3E%3Cpath d=%27m404.46 379.54c-3.456 0-6.784-0.798-9.89-2.371-10.782-5.464-15.108-18.681-9.645-29.462 12.744-25.147 19.479-55.052 19.479-86.479 0-30.948-6.549-60.48-18.939-85.404-2.606-5.243-3.016-11.188-1.15-16.738 1.864-5.55 5.778-10.042 11.021-12.648 3.064-1.523 6.341-2.296 9.739-2.296 8.388 0 15.916 4.662 19.646 12.167 15.391 30.959 23.524 67.239 23.522 104.92 0 38.28-8.373 75.037-24.214 106.3-3.755 7.411-11.255 12.016-19.569 12.016zm0.616-234.4c-3.242 0-6.369 0.737-9.294 2.191-5.004 2.487-8.74 6.774-10.52 12.071-1.779 5.297-1.39 10.97 1.098 15.974 12.459 25.062 19.045 54.748 19.045 85.849 0 31.584-6.773 61.645-19.587 86.931-5.215 10.29-1.086 22.904 9.203 28.118 2.965 1.502 6.141 2.264 9.438 2.264 7.936 0 15.094-4.395 18.679-11.468 15.771-31.12 24.106-67.721 24.106-105.84 2e-3 -37.526-8.096-73.652-23.418-104.47-3.559-7.161-10.744-11.611-18.75-11.611z%27/%3E%3Cpath d=%27m456.55 88.245c-10.594 5.266-14.912 18.122-9.646 28.716 20.932 42.105 31.994 91.864 31.994 143.9 0 52.847-11.381 103.24-32.912 145.73-5.348 10.552-1.129 23.441 9.424 28.788 3.104 1.573 6.408 2.318 9.666 2.318 7.814 0 15.35-4.294 19.123-11.743 24.559-48.462 37.539-105.55 37.539-165.09 0-58.615-12.611-114.97-36.473-162.97-5.266-10.593-18.121-14.913-28.715-9.645z%27/%3E%3Cpath d=%27m465.07 438.19c-3.458 0-6.787-0.798-9.893-2.372-5.223-2.646-9.102-7.168-10.923-12.732s-1.367-11.506 1.279-16.728c21.496-42.42 32.858-92.733 32.858-145.5 0-51.958-11.045-101.64-31.941-143.67-5.381-10.824-0.952-24.006 9.871-29.386 3.065-1.524 6.343-2.297 9.742-2.297 8.386 0 15.912 4.663 19.643 12.167 23.896 48.067 36.525 104.5 36.525 163.19 0 59.619-12.999 116.78-37.593 165.32-3.753 7.414-11.252 12.018-19.568 12.018zm0.994-351.69c-3.243 0-6.371 0.738-9.297 2.193-5.004 2.487-8.74 6.774-10.52 12.071s-1.389 10.97 1.098 15.974c20.966 42.172 32.047 92.008 32.047 144.12 0 52.924-11.399 103.39-32.966 145.95-2.526 4.984-2.96 10.654-1.222 15.965s5.44 9.626 10.425 12.151c2.965 1.503 6.141 2.265 9.44 2.265 7.937 0 15.094-4.395 18.677-11.469 24.523-48.392 37.485-105.4 37.485-164.86 0-58.54-12.594-114.82-36.42-162.74-3.56-7.164-10.744-11.613-18.747-11.613z%27/%3E%3C/svg%3E");
  }
  body.theme-b {
    background: top/cover no-repeat url(assets/dark_bg.webp);
  }
  body.theme-b div#word-audio {
    background: #676767;
    content: url("data:image/svg+xml,%3Csvg width=%2750px%27 height=%2750px%27 fill=%27%23ffffff%27 version=%271.1%27 viewBox=%270 0 522.23 522.23%27 xml:space=%27preserve%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27m346.35 41.163c-10.855-10.367-25.076-16.078-40.045-16.078-10.832 0-21.445 3.063-30.689 8.857l-159.16 99.761h-58.101c-31.9 0-57.854 25.952-57.854 57.853v138.92c0 31.9 25.953 57.854 57.854 57.854h57.773l159.49 99.965c9.244 5.795 19.857 8.857 30.691 8.857 14.969 0 29.189-5.71 40.047-16.078 5.543-5.293 9.908-11.525 12.979-18.523 3.227-7.353 4.861-15.184 4.861-23.275v-356.31c0-8.094-1.635-15.925-4.861-23.278-3.071-6.996-7.438-13.228-12.981-18.522zm-24.996 219.85v178.26c0 8.803-7.227 15.037-15.049 15.037-2.664 0-5.398-0.724-7.939-2.316l-161.14-101c-5.736-3.595-12.368-5.502-19.138-5.502h-59.73c-8.292 0-15.014-6.722-15.014-15.014v-138.92c0-8.291 6.722-15.013 15.014-15.013h60.059c6.77 0 13.4-1.907 19.137-5.502l160.82-100.8c2.541-1.593 5.273-2.316 7.939-2.316 7.822 0 15.049 6.236 15.049 15.038v178.05z%27/%3E%3Cpath d=%27m306.3 497.65c-10.929 0-21.634-3.089-30.957-8.934l-159.36-99.889h-57.629c-32.177 1e-3 -58.354-26.177-58.354-58.352v-138.92c0-32.176 26.177-58.353 58.354-58.353h57.958l159.04-99.684c9.325-5.844 20.029-8.934 30.955-8.934 15.096 0 29.44 5.759 40.391 16.216 5.591 5.34 9.995 11.625 13.093 18.683 3.254 7.415 4.903 15.314 4.903 23.479v356.31c0 8.163-1.649 16.062-4.903 23.477-3.099 7.062-7.503 13.348-13.091 18.684-10.952 10.458-25.297 16.216-40.393 16.216zm-247.95-363.45c-31.625 0-57.354 25.728-57.354 57.353v138.92c0 31.625 25.729 57.354 57.354 57.354h57.917l0.122 0.076 159.49 99.965c9.164 5.745 19.685 8.781 30.426 8.781 14.838 0 28.938-5.661 39.701-15.939 5.493-5.245 9.821-11.423 12.866-18.363 3.198-7.287 4.819-15.05 4.819-23.074v-356.31c0-8.025-1.621-15.79-4.819-23.077-3.044-6.937-7.373-13.114-12.868-18.362-10.763-10.279-24.861-15.939-39.699-15.939-10.738 0-21.259 3.037-30.424 8.781l-159.28 99.837h-58.245zm247.95 320.61c-2.87 0-5.708-0.827-8.205-2.393l-161.14-101c-5.664-3.55-12.189-5.426-18.872-5.426h-59.73c-8.554 0-15.514-6.959-15.514-15.514v-138.92c0-8.554 6.959-15.513 15.514-15.513h60.059c6.682 0 13.207-1.876 18.871-5.426l160.82-100.8c2.497-1.565 5.335-2.393 8.205-2.393 8.573 0 15.549 6.97 15.549 15.538v356.31c0 8.568-6.976 15.538-15.549 15.538zm-247.95-277.77c-8.003 0-14.514 6.51-14.514 14.513v138.92c0 8.003 6.511 14.514 14.514 14.514h59.73c6.871 0 13.58 1.929 19.403 5.578l161.14 101c2.338 1.466 4.991 2.24 7.674 2.24 8.022 0 14.549-6.521 14.549-14.537v-356.31c0-8.016-6.526-14.538-14.549-14.538-2.683 0-5.336 0.774-7.674 2.24l-160.82 100.8c-5.824 3.649-12.533 5.578-19.402 5.578h-60.058z%27/%3E%3Cpath d=%27m424.27 156.54c-5.266-10.594-18.125-14.911-28.715-9.646-10.594 5.266-14.912 18.123-9.646 28.716 12.426 24.995 18.992 54.604 18.992 85.626 0 31.506-6.754 61.487-19.533 86.705-5.348 10.553-1.129 23.442 9.424 28.79 3.104 1.572 6.408 2.317 9.664 2.317 7.816 0 15.35-4.294 19.125-11.742 15.807-31.191 24.16-67.869 24.16-106.07 2e-3 -37.604-8.115-73.808-23.471-104.7z%27/%3E%3Cpath d=%27m404.46 379.54c-3.456 0-6.784-0.798-9.89-2.371-10.782-5.464-15.108-18.681-9.645-29.462 12.744-25.147 19.479-55.052 19.479-86.479 0-30.948-6.549-60.48-18.939-85.404-2.606-5.243-3.016-11.188-1.15-16.738 1.864-5.55 5.778-10.042 11.021-12.648 3.064-1.523 6.341-2.296 9.739-2.296 8.388 0 15.916 4.662 19.646 12.167 15.391 30.959 23.524 67.239 23.522 104.92 0 38.28-8.373 75.037-24.214 106.3-3.755 7.411-11.255 12.016-19.569 12.016zm0.616-234.4c-3.242 0-6.369 0.737-9.294 2.191-5.004 2.487-8.74 6.774-10.52 12.071-1.779 5.297-1.39 10.97 1.098 15.974 12.459 25.062 19.045 54.748 19.045 85.849 0 31.584-6.773 61.645-19.587 86.931-5.215 10.29-1.086 22.904 9.203 28.118 2.965 1.502 6.141 2.264 9.438 2.264 7.936 0 15.094-4.395 18.679-11.468 15.771-31.12 24.106-67.721 24.106-105.84 2e-3 -37.526-8.096-73.652-23.418-104.47-3.559-7.161-10.744-11.611-18.75-11.611z%27/%3E%3Cpath d=%27m456.55 88.245c-10.594 5.266-14.912 18.122-9.646 28.716 20.932 42.105 31.994 91.864 31.994 143.9 0 52.847-11.381 103.24-32.912 145.73-5.348 10.552-1.129 23.441 9.424 28.788 3.104 1.573 6.408 2.318 9.666 2.318 7.814 0 15.35-4.294 19.123-11.743 24.559-48.462 37.539-105.55 37.539-165.09 0-58.615-12.611-114.97-36.473-162.97-5.266-10.593-18.121-14.913-28.715-9.645z%27/%3E%3Cpath d=%27m465.07 438.19c-3.458 0-6.787-0.798-9.893-2.372-5.223-2.646-9.102-7.168-10.923-12.732s-1.367-11.506 1.279-16.728c21.496-42.42 32.858-92.733 32.858-145.5 0-51.958-11.045-101.64-31.941-143.67-5.381-10.824-0.952-24.006 9.871-29.386 3.065-1.524 6.343-2.297 9.742-2.297 8.386 0 15.912 4.663 19.643 12.167 23.896 48.067 36.525 104.5 36.525 163.19 0 59.619-12.999 116.78-37.593 165.32-3.753 7.414-11.252 12.018-19.568 12.018zm0.994-351.69c-3.243 0-6.371 0.738-9.297 2.193-5.004 2.487-8.74 6.774-10.52 12.071s-1.389 10.97 1.098 15.974c20.966 42.172 32.047 92.008 32.047 144.12 0 52.924-11.399 103.39-32.966 145.95-2.526 4.984-2.96 10.654-1.222 15.965s5.44 9.626 10.425 12.151c2.965 1.503 6.141 2.265 9.44 2.265 7.937 0 15.094-4.395 18.677-11.469 24.523-48.392 37.485-105.4 37.485-164.86 0-58.54-12.594-114.82-36.42-162.74-3.56-7.164-10.744-11.613-18.747-11.613z%27/%3E%3C/svg%3E%0A");
  }
  body.theme-b header, body.theme-b footer {
    background-color: #0d1418;
  }
  body.theme-b form input {
    background-color: #262626;
    color: #f2f2f2;
  }
  body.theme-b form button {
    background-color: #474747;
  }
  body.theme-b form button:hover {
    background-color: #e4e4e4;
  }
  body.theme-b form button:active {
    background-color: #d6d6d6;
  }
  body.theme-b form svg {
    fill: #f2f2f2;
  }
  body.theme-b #container {
    background-color: rgba(0, 0, 0, 0.6235294118);
  }
  body.theme-b #app {
    background-color: #474747;
    color: #f2f2f2;
  }
}
@media screen and (prefers-color-scheme: light) and (max-width: 768px) {
  body.theme-b #app {
    background-color: rgba(71, 71, 71, 0.3725490196);
  }
}
@media (prefers-color-scheme: light) {
  body.theme-b header #mode-switch {
    content: url("data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 fill=%27%23B6F0E6%27 height=%2745px%27 shape-rendering=%27geometricPrecision%27 text-rendering=%27geometricPrecision%27 image-rendering=%27optimizeQuality%27 fill-rule=%27evenodd%27 clip-rule=%27evenodd%27 viewBox=%270 0 512 262.86%27%3E%3Cpath fill-rule=%27nonzero%27 d=%27M316.78 16.55h-205.9c-30.5 0-58.22 12.48-78.31 32.57C12.47 69.21 0 96.93 0 127.44c0 30.5 12.47 58.22 32.57 78.31 20.09 20.1 47.81 32.57 78.31 32.57h193.25c21.54 15.43 47.9 24.54 76.26 24.54h.18c36.14 0 69.02-14.79 92.83-38.6 23.8-23.81 38.6-56.67 38.6-92.83 0-36.15-14.78-69.03-38.63-92.8C449.53 14.8 416.67 0 380.57 0h-.18c-23.02 0-44.72 6.02-63.61 16.55zm70.62 97.17.43.09c.82-3.45 2.83-6.19 6.04-8.16 3.2-1.98 6.53-2.57 10.01-1.75l.1-.43c-3.47-.82-6.2-2.83-8.17-6.03-1.98-3.22-2.57-6.55-1.75-10.01l-.43-.1c-.82 3.47-2.83 6.2-6.03 8.18-3.21 1.98-6.55 2.56-10.02 1.74l-.1.43c3.47.82 6.2 2.84 8.18 6.04 1.99 3.19 2.56 6.52 1.74 10zm36.87 16.77.53.12c1.02-4.35 3.55-7.78 7.58-10.26 4.02-2.49 8.2-3.22 12.56-2.19l.13-.53c-4.35-1.03-7.78-3.55-10.26-7.59-2.49-4.03-3.22-8.22-2.2-12.56l-.53-.12c-1.02 4.35-3.55 7.77-7.58 10.26-4.02 2.49-8.21 3.22-12.56 2.19l-.13.53c4.36 1.03 7.78 3.55 10.26 7.58 2.49 4.02 3.22 8.22 2.2 12.57zm-38.79-61.01c-15.69 7.67-26.98 23.26-28.29 41.93-1.96 27.88 19.05 52.06 46.92 54.02 13.23.93 25.64-3.32 35.22-11.02 4.75-3.82 9.66-.45 7.59 4.36-11.33 26.42-38.45 44.04-68.74 41.91-38.29-2.69-67.14-35.91-64.45-74.19C316.3 89.8 347.05 61.67 383.44 62c6.71.06 8.13 4.5 2.04 7.48zm-5.09-53.95h.18c63.75 0 115.91 52.15 115.91 115.9 0 63.75-52.23 115.91-115.91 115.91h-.18c-63.68 0-115.91-52.16-115.91-115.91s52.16-115.9 115.91-115.9z%27/%3E%3C/svg%3E");
  }
  body.theme-b #font-selection {
    background-color: #232323;
    color: #f2f2f2;
  }
  body.theme-b #font-selection:hover {
    background-color: #4e4e4e;
  }
}
/*=========================================================================*/
/*====================== MEDIA QUERIES (SCREEN SIZE) ======================*/
@media screen and (max-width: 1028px) {
  header {
    -ms-flex-line-pack: center;
        align-content: center;
    grid: 52px/1fr minmax(202px, auto) 1fr;
    min-height: 80px;
    padding: 0 0.9375rem;
  }
  header h1 {
    display: none;
  }
  header #header-title {
    gap: 10px;
    padding-right: 15px;
  }
  header #header-title img {
    width: 45px;
    height: 45px;
  }
  header #mode-box {
    min-width: 75px;
  }
  header #mode-switch {
    width: 65px;
  }
  form {
    grid: 52px/minmax(150px, 500px) 52px;
    font-size: 1rem;
  }
  form input {
    padding: 0.9375rem;
  }
  form svg {
    width: 26px;
    height: auto;
  }
  form.invalid:invalid {
    border-radius: 5px;
    outline: solid 2px #ff7c7c;
  }
  form.invalid:invalid input {
    border-radius: 5px 0 0 5px;
  }
  form.invalid:invalid button {
    border-radius: 0 5px 5px 0;
  }
  #container {
    min-height: calc(100vh - 125px);
  }
  #app {
    padding: 0 20px;
  }
  #app #before h2 {
    font-size: 3rem;
    margin-top: 1.875rem;
  }
  #app #before p {
    font-size: 1.5rem;
  }
  #app #before p:last-child {
    font-size: 0.875rem;
    margin: 1.25rem 0 1.875rem 0;
  }
  #app #response {
    width: 50vw;
  }
  #app #response h2, #app #response h3 {
    font-size: 1.4rem;
  }
  #app #response ul {
    padding-left: 40px;
  }
  #app #response li, #app #response p {
    margin: 0 0 15px 0;
    font-size: 1rem;
  }
  #app #response #word {
    gap: 10px;
  }
  @-webkit-keyframes responseFade {
    from {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    }
    to {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      opacity: 1;
    }
  }
  @keyframes responseFade {
    from {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    }
    to {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      opacity: 1;
    }
  }
  div#word-audio {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    padding: 5px;
  }
  footer {
    padding: 0 15px;
    min-height: 45px;
  }
  footer #font-selection {
    min-width: 171px;
    min-height: 35px;
    padding-left: 1rem;
    border-radius: 10px;
    border: solid 1px rgba(0, 0, 0, 0.6235294118);
  }
  footer a {
    font-size: 1rem;
  }
  body.sans input, body.sans #font-selection {
    font-size: 1.4rem;
  }
  body.serif input, body.serif #font-selection {
    font-size: 1.4rem;
  }
  body.mono input, body.mono #font-selection {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 768px) {
  body.sans input, body.sans #font-selection, body.serif input, body.serif #font-selection, body.mono input, body.mono #font-selection {
    font-size: 1rem;
  }
  div#word-audio {
    background-color: #f2f2f2;
  }
  header {
    position: fixed;
    z-index: 1;
    width: 100vw;
  }
  #container {
    min-height: calc(100vh - 45px);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  #app {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 80px;
    min-height: calc(100vh - 45px);
    background-color: rgba(242, 242, 242, 0.3725490196);
    min-width: 100vw;
  }
  #app.before {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #app.after {
    padding: 80px 60px 0 60px;
  }
  #app #before h2 {
    font-size: 2rem;
  }
  #app #before p {
    font-size: 1rem;
  }
  #app #response {
    width: 100%;
  }
  footer {
    min-height: 45px;
  }
  footer a {
    font-size: 0.8rem;
  }
  footer #font-selection {
    min-width: 140px;
    min-height: 30px;
    padding-left: 1rem;
    border-radius: 10px;
    outline: none;
  }
  footer #font-selection:hover {
    cursor: pointer;
    background: #d8ffff;
  }
}
@media screen and (max-width: 412px) {
  #app.after {
    padding: 80px 10px 0 10px;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header #header-title {
    display: none;
  }
  body.active412 header #mode-box {
    display: none;
  }
  body.initial412 header form {
    grid: 52px/52px;
  }
  body.initial412 header form input {
    display: none;
  }
  body.sans input, body.sans #font-selection, body.serif input, body.serif #font-selection {
    font-size: 0.8rem;
  }
  body.mono input, body.mono #font-selection {
    font-size: 0.6rem;
  }
  footer a {
    font-size: 0.8rem;
  }
  footer #font-selection {
    min-width: 120px;
  }
}
/*=========================================================================*/
