// Variables
$headerHeight: 50px;
$headerBackground: rgb(0, 0, 0, 0.8);
$containerBackground: rgb(0, 0, 0, 0.5);
$background: left / cover no-repeat  url(assets/background.webp);
$textColor1: rgb(255, 255, 230);
$textColor2: rgb(255, 255, 255);
$textPlaceholder: rgb(255, 255, 230, 0.6);
$active: rgb(255, 255, 200);

// Fonctions
@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeSlideIn {
    from {
        opacity: 0;
        transform: translateY(-3.125rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@mixin font700 {
    font: 700 100% 'Commissioner', sans-serif;
}
@mixin font400 {
    font: 400 100% 'Commissioner', sans-serif;
}

// Corps de la page
:root {
font-size: 100%;
}
body {
    margin: 0;
    min-height: 100vh;
    background: $background;
}
header {
    display: flex;
    align-items: center;
    height: $headerHeight;
    background: $headerBackground;
    color: $textColor1;
    p {
        margin: 0;
    }
}
#page-home {
    header {
        svg {
            display: block;
        }
        justify-content: space-between;
        padding: 0 0.9375rem;
        p {
            @include font400;
        }
    } 
    #container {
        min-height: calc(100vh - $headerHeight);
        display: flex;
        flex-grow: auto;
        flex-direction: column;
        background: $containerBackground;
        animation: fadeInAnimation ease 0.5s;
        justify-content: center;
        align-items: center;
    }
    // App
    #app {
        display: grid;
        grid: auto 5fr 70px / auto;
        padding-bottom: 6.25rem;
        text-align: center;
        h1 {
            @include font700;
            font-size: 4.5rem;
            opacity: 0;
            color: $textColor1;
            margin: 0;
            animation: fadeSlideIn 1s ease-in-out forwards 0.4s;
        }
        p {
            @include font400;
            font-size: 2rem;
            opacity: 0;
            margin: 3% 0 10% 0;
            font-weight: 400;
            color: $textColor2;
            animation: fadeSlideIn 1s ease-in-out forwards 0.6s;
        }
        form {
            display: grid;
            input {
                @include font400;
                font-size: 1.5rem;
                color: $textColor2;
                margin: 0 15%;
                padding: 0 25px;
                background: none;
                border: solid 2px $textColor1;
                border-radius: 15px;
                opacity: 0;
                animation: fadeSlideIn 1s ease-in-out forwards 0.8s;
                
                &:focus-visible {
                    border: solid 2px $active;
                    outline: none;
                }
            }
            ::placeholder {
                color: $textPlaceholder;
            }
        }
        #response {
            div > h3, div > h2, div li{
                color: $textColor1;
            }
        }
    }
}


@media screen and (max-width: 1300px), screen and (max-height: 731px){
    #page-home {
        #app {
            grid: auto 5fr 2fr/ min(400px, 40vw);
            h1 {
                font-size: 2.625rem;
            }
            p {
                font-size: 1.375rem;
                margin: 1.5625rem 0 6.25rem 0;
                align-self: center;
            }
            form {
                input {
                    font-size: 1.125rem;
                    margin: 0;
                }
            }
        }
    }
}
@media screen and (max-width: 900px), screen and (max-height: 506px) {
    #page-home {
        #app {
            grid: auto 3fr 1fr / min(400px, 50vw);
            padding: 0 1.5625rem;
            h1 {
                font-size: 2.3125rem;
            }
            p {
                font-size: 1.375rem;
                margin: 1.5625rem 0 6.25rem 0;
                align-self: center;
            }
            form {
                input {
                    font-size: 1.125rem;
                    margin: 0;
                }
            }
        }
    }
}
@media screen and (max-width: 375px) {
    #page-home {
        #app {
            grid: auto 3fr 1fr / auto;
            padding: 0 1.5625rem;
            h1 {
                font-size: 2.625rem;
            }
            p {
                font-size: 22px;
                margin: 25px 0 100px 0;
                align-self: center;
            }
            form {
                input {
                    font-size: 1.125rem;
                    margin: 0;
                }
            }
        }
    }
}