// Variables
$headerHeightWatch: 10px;
$headerHeight: 50px;
$headerBackground: rgb(0, 0, 0, 0.8);
$containerBackgroundDark: rgb(0, 0, 0, 0.5);
$containerBackgroundBright: rgb(0, 0, 0, 0.3);
$backgroundBright: url('assets/background-bright.webp');
$backgroundDark: url('assets/background-dark.webp');
$textColor1: rgb(255, 255, 230);
$textColor2: rgb(255, 255, 255);
$textPlaceholder: rgb(255, 255, 230, 0.6);
$active: rgb(255, 255, 200);

// Fonctions
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeSlideIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeSlideOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(30px);
    }
}
@keyframes timedFade {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@mixin font700 {
    font: 700 100% 'Commissioner', sans-serif;
}
@mixin font400 {
    font: 400 100% 'Commissioner', sans-serif;
}

// Corps de la page
:root {
font-size: 100%;
}

body {
    margin: 0;
    min-height: 100vh;
    background: top / cover no-repeat url(assets/background-bright.webp);
    &.dark {
        background-image: $backgroundDark;
    }
    header {
        position: fixed;
        z-index: 1;
        width: 100vw;
        display: flex;
        align-items: center;
        height: $headerHeight;
        background: $headerBackground;
        color: $textColor1;
        justify-content: space-between;
        padding: 0 0.9375rem;
        box-sizing: border-box;
        #menu {
            display: flex;
            align-items: center;
            svg {
                margin-left: 0.625rem;
            }
        }
        svg {
            display: block;
        }
        a {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: $textColor1;
            p {
                padding-left: 0.625rem;
                opacity: 0;
                &.timed {
                    animation: timedFade 1s ease-in-out forwards 0.4s;
                }
            }
        }
        p {
            margin: 0;
            @include font400;
        }
    }
    #container {
        min-height: 100vh;
        padding-top: $headerHeight;
        box-sizing: border-box;
        display: flex;
        flex-grow: auto;
        flex-direction: column;
        animation: fadeIn ease 0.5s;
        justify-content: center;
        align-items: center;
        background: $containerBackgroundBright;
        &.dark {
            background-color: $containerBackgroundDark;
        }
    }
    // App
    #app {
        display: grid;
        grid: auto 5fr auto / auto;
        padding-bottom: 6.25rem;
        text-align: center;
        &.submitted {
            display: flex;
            flex-direction: column;
            padding: 0;
        }
        h1 {
            @include font700;
            font-size: 4.5rem;
            opacity: 0;
            color: $textColor1;
            margin: 0;
            animation: fadeSlideIn 1s ease-in-out forwards 0.4s;
        }
        #desc {
            @include font400;
            font-size: 2rem;
            opacity: 0;
            margin: 3% 0 10% 0;
            font-weight: 400;
            color: $textColor2;
            animation: fadeSlideIn 1s ease-in-out forwards 0.6s;
        }
        form {
            display: grid;
            input {
                @include font400;
                font-size: 1.5rem;
                color: $textColor2;
                margin: 0 15%;
                padding: 15px 25px;
                background: none;
                border: solid 3px $textColor1;
                border-radius: 15px;
                opacity: 0;
                animation: fadeSlideIn 1s ease-in-out forwards 0.8s;
                &:focus-visible {
                    border: solid 3px $active;
                    outline: none;
                }
            }
            ::placeholder {
                color: $textPlaceholder;
            }
        }
        #response {
            padding-bottom: 3.125rem;
            div {
                h3, h2 {
                    color: $textColor1;
                    @include font700;
                    font-size: 1.5rem;
                    text-transform: uppercase;

                }
                p {
                    color: $textColor1;
                    @include font400;
                    font-size: 14px;
                    list-style: none;
                }
            }
        }
    }
}
body #app h1.submitted, body #app #desc.submitted, body #app form.submitted {
    animation: fadeSlideOut 0.5s ease-in-out forwards;
}
.invisible, body #app form.invisible {
    display: none;
}

@media screen and (max-width: 1300px), screen and (max-height: 731px){
    body {
        #app {
            grid: auto auto auto / 46.25rem;
            h1 {
                font-size: 3.25rem;
            }
            #desc {
                font-size: 1.75rem;
                margin: 1.5625rem 0 6.25rem 0;
                align-self: center;
            }
            form {
                input {
                    font-size: 1.125rem;
                    margin: 0 30px;
                }
            }
        }
    }
}
@media screen and (max-width: 900px), screen and (max-height: 506px) {
    body {
        header {
            p {
                font-size: 0.8125rem;
            }
        }
        #app {
            grid: auto / 60vw;
            padding: 0;
            h1 {
                font-size: 2.3125rem;
            }
            #desc {
                font-size: 1.375rem;
                margin: 1.5625rem 0 3.125rem 0;
                align-self: center;
            }
            form {
                input {
                    font-size: 1.125rem;
                    margin: 0;
                }
            }
        }
    }
}
@media screen and (max-width: 486px) {
    body {
        header {
            p {
                font-size: 9px;
            }
        }
        #app {
            grid: auto auto auto / 80vw;
            h1 {
                font-size: 2.375rem;
            }
            #desc {
                font-size: 1.125rem;
                margin: 25px 0 30px 0;
                align-self: center;
            }
            form {
                input {
                    font-size: 1.125rem;
                    margin: 0;
                }
            }
        }
    }
}